body{
  background-color: #8395a7;
}
h1{
  color: #5f27cda4;
}

.chart{
  color: black;
  margin: auto;
  border: 2px;
  border-radius: 0.5px;
  border-style: solid;
  height: 85vh
}

.bars{
  position: absolute;
  margin-top: 20%;
  margin-left: 25%;
  float: left;
  width: 30px;
  bottom: 100px;
  background-color: #74b9ff;
  color: #74b9ff;
}


.xLabel{
  position: absolute;
  margin-left: 50px;
  bottom: 200px;
  margin-bottom: 0;
  width: 200px;
  height: 2px;
  background-color: black;
  color: black;
}

.xLabels{
  position: absolute;
  float: left;
  margin-left: 0;
}

.yLabel{
  position: absolute;
  bottom: 200px;
  margin-left: 0px;
  height: 500px;
  width: 2px;
  background-color: black;
}

.yLabels{
  position:absolute;
}
.values{
  position: absolute;
  color: black;
  bottom: 100px;
  margin-left: 5px;
}
